/* Variables CSS */
:root {
  --primary-color: #4F4F4F;
  --secondary-color: #E0E0E0;
  --body-color: #F2F2F2;
  --white-color: #FFFFFF;
  --font-family: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --spacing-base: 8px;
  --border-radius: 4px;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
html body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: #333;
  background-color: var(--body-color);
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
/* .container {
  background-color: #a82121;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.container{
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100%;
}

/* Header */
header {
  background-color: var(--body-color);
  width: 100%;
  text-align: center;
  flex-shrink: 2;
}

/* Main Content */
main {
  padding: var(--spacing-base) calc(var(--spacing-base)* 2);
  height: 100%;
  width: 375px;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.form{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

}

.textarea{
  font-family: var(--font-family);
  font-size: calc(var(--spacing-base) * 3);
  border: 2px solid var(--primary-color);;
  border-radius: calc(var(--spacing-base)* 2);
  height: 120px;
  padding: var(--spacing-base);
  resize: none;
}

.notes-container{
  height: 150px;
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  overflow-y: auto;
}

/* Buttons */
.create-button {
  display: inline-block;
  padding: var(--spacing-base) calc(var(--spacing-base)* 2);
  font-size: calc(var(--spacing-base)* 2.5);
  color: #fff;
  font-weight: 700;
  background-color: var(--primary-color);
  border-radius: calc(var(--spacing-base)* 2);
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border: none;
}

.create-button:hover {
  background-color:  #5c5a5a;
}

.create-button:active {
  background-color:  #313030;
}

.note{
  background-color: var(--white-color);
  border-radius: calc(var(--spacing-base) * 2);
  border: 2px solid var(--primary-color);
}

.note-text{
  padding: var(--spacing-base);
  font-size: calc(var(--spacing-base) * 3);
}

.note-footer{
  display: flex;
  justify-content: end;
  padding: 0 var(--spacing-base) var(--spacing-base) 0;
}

.delete-button {
  display: inline-block;
  padding: calc(var(--spacing-base)* 0.5) calc(var(--spacing-base)* 2);
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
  background-color: var(--secondary-color);
  border-radius: calc(var(--spacing-base)* 2);
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border: none;

}

.delete-button:hover {
  background-color:  #f0e5e5;
}

.delete-button:active {
  background-color:  #cbc4c4;
}
